---
- name: Configure tigervnc for multiple users
  block:
    - name: Ensure system config directory exists
      ansible.builtin.file:
        path: /etc/tigervnc
        state: directory
        mode: "0755"
      become: true

    - name: Configure VNC for each user
      ansible.builtin.include_tasks: noauto_configure_user.yml
      loop: "{{ tigervnc_users }}"
      loop_control:
        loop_var: vnc_user

    - name: Clear vncserver.users file
      ansible.builtin.copy:
        content: "# TigerVNC User Assignment\n"
        dest: /etc/tigervnc/vncserver.users
        mode: "0644"
      become: true

    - name: Map users to displays in vncserver.users
      ansible.builtin.lineinfile:
        path: /etc/tigervnc/vncserver.users
        line: ":{{ item.display }}={{ item.username }}"
        create: true
        mode: "0644"
      loop: "{{ tigervnc_users }}"
      become: true
      notify: Restart TigerVNC
