---
- name: Configure tigervnc for multiple users
  block:
    - name: Ensure system config directory exists
      ansible.builtin.file:
        path: /etc/tigervnc
        state: directory
        mode: "0755"
      become: true

    - name: Configure VNC for each user
      ansible.builtin.include_tasks: noauto_configure_user.yml
      loop: "{{ tigervnc_users }}"
      loop_control:
        loop_var: vnc_user

    - name: Configure vncserver.users file
      ansible.builtin.template:
        src: vncserver.users.j2
        dest: /etc/tigervnc/vncserver.users
        mode: "0644"
      become: true
      notify: Restart TigerVNC
