---
- name: Configure systemd services for TigerVNC multi-user
  block:
    - name: Ensure systemd template service file exists
      ansible.builtin.template:
        src: vncserver.service.j2
        dest: "/etc/systemd/system/vncserver@.service"
        mode: "0744"
      become: true
      notify: Restart TigerVNC

    - name: Ensure handlers are notified now to avoid systemd conflicts
      ansible.builtin.meta: flush_handlers

    - name: Reload systemd daemon to recognize service file
      ansible.builtin.systemd_service:
        daemon_reload: true
      become: true

    - name: Manage VNC service for each user
      ansible.builtin.include_tasks: noauto_manage_service.yml
      loop: "{{ tigervnc_users }}"
      loop_control:
        loop_var: vnc_user
