---
- name: "Set service variables - {{ vnc_user.username + ':' + (vnc_user.display | string) }}"
  ansible.builtin.set_fact:
    tigervnc_user_service_enabled: "{{ vnc_user.service_enabled | default(tigervnc_default_service_enabled) }}"
    service_name: "vncserver@{{ vnc_user.display }}.service"

- name: "Ensure VNC service is enabled/disabled - {{ vnc_user.username + ':' + (vnc_user.display | string) }}"
  ansible.builtin.service:
    name: "{{ service_name }}"
    enabled: "{{ tigervnc_user_service_enabled }}"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true

- name: "Ensure VNC service is started - {{ vnc_user.username + ':' + (vnc_user.display | string) }}"
  ansible.builtin.service:
    name: "{{ service_name }}"
    state: started
  ignore_errors: "{{ ansible_check_mode }}"
  when: tigervnc_user_service_enabled | bool
  become: true

- name: "Ensure VNC service is stopped - {{ vnc_user.username + ':' + (vnc_user.display | string) }}"
  ansible.builtin.service:
    name: "{{ service_name }}"
    state: stopped
  ignore_errors: "{{ ansible_check_mode }}"
  when: not (tigervnc_user_service_enabled | bool)
  become: true
