{{ ansible_managed | comment }}

session={{ user_session }}
{% if user_localhost %}localhost
{% endif %}
securitytypes={{ user_securitytypes }}
{% if user_alwaysshared %}alwaysshared{% endif %}
{% for line in user_config_additional %}
{{ line }}
{% endfor %}
