{{ ansible_managed | comment }}

[Unit]
Description=Remote desktop service (VNC) 
After=network.target systemd-user-sessions.service

[Service]
Type=simple
User={{ tigervnc_user }}
ExecStartPre=-/usr/local/bin/tigervnc_wrapper -kill :%i
ExecStart=/usr/local/bin/tigervnc_wrapper :%i -fg
ExecStop=/usr/local/bin/tigervnc_wrapper -kill :%i
PIDFile={{ tigervnc_config_dir }}/{{ ansible_fqdn }}:%i.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
